
<div class="about-section">
    <h1>About Us </h1>
    <p>Welcome to Balco Medical Centre</p>
    <p>Balco Medical Centre (BMC), a 170 bedded state-of-the-art tertiary care Oncology facility in Naya Raipur, is the first flagship initiative of Vedanta Medical Research Foundation (VMRF). VMRF, a non-profit organization, is an initiative of Vedanta Resources and Bharat Aluminium Company Ltd. (BALCO) to contribute towards prevention of cancer and its related illnesses. BMC has brought ultra-modern, multi-modality diagnostic and therapeutic facilities within easy reach of India’s population at an affordable cost. Currently, it is fast emerging as a national leader in India’s oncology space including medical, surgical, radiation, haematological and palliative care.</p>
  </div>
  
  <h2 style="text-align:center">Our Team</h2>
  <div class="row">
    <div class="column">
      <div class="card">
        <img src="/assets/anil-agarwal.png" alt="ANIL AGARWAL" style="width:100%">
        <div class="container">
          <h2>ANIL AGARWAL</h2>
          <p class="title">Chairman - Vedanta Resources</p>
          <p>A first-generation industrialist, Anil Agarwal has built Vedanta into a globally diversified natural resources group committed to sustainable development.Throughout his career he has fostered a work philosophy that marries stakeholder value with inclusive growth of local communities.</p>
          
        </div>
      </div>
    </div>
  
    <div class="column">
      <div class="card">
        <img src="/assets/joyti-agarwal.png" alt="JYOTI AGARWAL" style="width:100%">
        <div class="container">
          <h2>JYOTI AGARWAL</h2>
          <p class="title">Chairperson - Vedanta Medical Research Foundation</p>
          <p>For over 20 years, Mrs. Jyoti Agarwal has been involved in the delivery of sustainable solutions that make a genuine difference to individuals and society. An experienced, strategic philanthropist, she has played a lead role in building the Sterlite Tech Foundation and the Agarwal family trust by combining her passion for empowerment and upliftment with a rigorous approach to driving impact.</p>
        </div>
      </div>
    </div>

  </div>

  <h2 style="text-align:center">OUR BOARD OF ADVISORS</h2>
  <div class="row">
    <div class="column">
      <div class="card">
        <img src="/assets/Rajendra_Badve.png" alt="DR. RAJENDRA A. BADWE" style="width:100%">
        <div class="container">
          <h2>DR. RAJENDRA A. BADWE</h2>
          <p class="title">Chairman - Vedanta Resources</p>
          <p>Dr. Rajendra Achyut Badwe is the director of the Tata Memorial Centre, Parel, Mumbai. Dr. Badwe is a renowned surgical oncologist with more than 36 years of experience. He was honoured by the Government of India, in 2013, by bestowing on him the Padma Shri, the fourth highest civilian award, for his contributions to the field of medicine. Dr. Badwe worked in many institutions of repute before joining Tata Memorial Hospital, Mumbai as the Head of the Department of Surgical Oncology. He worked at the Toronomon Hospital, Tokyo as a Fellow of the International Society for Diseases of the Oesophagus in 1989 and moved to London and worked as the Registrar and honorary consultant at the Guy's Hospital, King's College London School of Medicine and the Royal Marsden Hospital, till 1992.</p>
          
        </div>
      </div>
    </div>
  
    <div class="column">
      <div class="card">
        <img src="/assets/Sandeep.png" alt="DR. SANDEEP KUMAR" style="width:100%">
        <div class="container">
          <h2>DR. SANDEEP KUMAR</h2>
          <p class="title">MS, FRCS (Edinburgh), PhD (Wales), MMSc (Newcastle)</p>
          <p>Dr. Sandeep Kumar is an ex-Professor of Surgery, King George’s Medical University, Lucknow and Founder Director. Also, Dr. Sandeep was Founder / Director of AIIMS (All India Institute of Medical Sciences), Bhopal.

            He is an alumni of University of Allahabad with 1st position in MBBS and did his Masters in Surgery from MLN Medical College. Thereafter, did FRCS from the Royal College of Surgeons of Edinburgh and PhD from the University of Cardiff, Wales. He was awarded Rockefeller INCLEN Fellowship in 1990 and with this he did a 2nd Master’s degree in Clinical Epidemiology from Newcastle, Australia.
            
            He is a renowned surgeon and breast specialist. He undertakes all types of breast surgeries and breast related consultations at Lucknow. He also undertakes a great deal of medical and health related social work in the area of accident and emergency care, cancer prevention and breast disorders and tobacco habit, care of elderly, he helped establish a hospice and a school for poor children. He has a multifarious personality and on the lighter side has written a humorous book – ‘Raag Georgian’.</p>
        </div>
      </div>
    </div>

  </div>

  <!-- <div class="column">
    <div class="card">
        <img src="/assets/Anupa.png" alt="MS. ANUPA SAHNEY" style="width:100%">
      <div class="container">
        <h2>MS. ANUPA SAHNEY</h2>
        <p class="title">Member of Harvard South Asia Institute & Institute of Chartered Accountants in England & Wales</p>
        <p>A partner at Origami Consultants, Ms. Anupa developed the consulting arm of the company in 2001. She was part of the McKinsey India start-up office in 1993, specializing in financial services. She subsequently worked with Capital One and American International Group (AIG) to establish their India entry strategies and presence. She began her career at Touche Ross in London, specializing in insurance investigation work. Anupa is an Associate Chartered Accountant, Institute of England & Wales and holds a Bachelor’s degree (Double Honours) in Economics, Finance and Accounting.</p>
    
      </div>
    </div>
  </div> -->
