<div class="bootstrap-wrapper">
    <div class="container text-center mt "> 
         <div class="row">
            <div class="col-md-6 offset-md-3">
                <div class="container text-center">
                    <img 
                    class="img-fluid" 
                    style="width:100px;" 
                    src="/assets/login1.png" 
                    alt="">

                </div>

                <h1 class="text-center">Patient Login here!</h1>

                <!-- creating form -->

                <form (ngSubmit)="onSubmit()">
                    <small class="text-danger">{{msg}}</small>
                    <mat-form-field class="full-width">
                        <mat-label>Username</mat-label>
                        <input 
                        [(ngModel)]="credentials.username"
                        name="username"
                        required
                        type="text" 
                        matInput />
                    </mat-form-field>

                    <mat-form-field class="full-width">
                        <mat-label>Password</mat-label>
                        <input 
                        [(ngModel)]="credentials.password"
                        name="username"
                        required
                        type="password" 
                        matInput />
                    </mat-form-field>

                    <div class="container text-center">

                        <button type="submit" mat-raised-button color="primary">Login</button>
                        <button style="margin-left: 10px" type="reset" mat-raised-button color="accent">Reset</button>
                    </div>
                </form>
                <br />
                <!-- <small class="su" >New user ? register here</small> -->
                <small class="su" [routerLink]="['/register-user']" >New user ? register here</small> 

                <!-- <p class="mt">{{credentials | json}}</p> -->
              
            </div>
         </div>

    </div>
</div>
